@use "./variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  &__hamburger {
    position: absolute;
    left: 7%;
    z-index: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__nav {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 7%;
    background-color: variables.$white;
  }

  &__menu {
    width: 70%;
    max-width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 10%;
  }

  &__menu-item {
    font-weight: 600;
    cursor: pointer;
    &::after {
      transition: width ease-in-out 200ms;
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      left: 50%;
      bottom: -0.4em;
      border-radius: 5px;
      background-color: currentColor;
      transform: translate(-50%, 100%);
    }

    &:hover::after {
      @media (hover: hover) {
        width: 20px;
      }
      @media (hover: none) {
        width: 0;
      }
    }
  }

  @media all and (min-width: variables.$desktop-view) {
    //use !important to overwrite framer-motion animation values
    justify-content: flex-start;
    padding: 4rem 3rem;

    &__hamburger {
      display: none;
    }
    &__close {
      display: none;
    }
    &__nav {
      transform: none !important;
      background-color: transparent;
      width: 40%;
    }
    &__menu {
      gap: 0;
    }
    &__menu-item {
      opacity: 1 !important;
      color: variables.$white;
    }
  }
}
